@mixin equipmentOrder(){
  .el-steps {
    box-sizing: border-box;
  }
  .info {
    margin-top: 20px;
    margin-left: 20px;
    display: flex;
    flex-flow: column;
    padding-bottom: 30px;
    border-bottom: 1px solid #e5e5e5;
    .title {
      font-size: 24px;
      padding-bottom: 10px;
      margin-bottom: 10px;
      border-bottom: 1px solid #e5e5e5;
    }
    .detail {
      display: flex;
      flex-flow: column;
      .number, .crew, .contact, .track {
        margin-bottom: 10px;
      }
      .track {
        display: flex;
        flex-flow: row;
        .right {
          .item {
            margin-bottom: 5px;
            display: flex;
            flex-flow: row;
            .event {
              margin-left: 10px;
            }
          }
        }
      }
    }
  }
  .intro {
    margin-top: 30px;
    margin-left: 20px;
    display: flex;
    flex-flow: column;
    .title {
      font-size: 24px;
      padding-bottom: 10px;
      margin-bottom: 10px;
      border-bottom: 1px solid #e5e5e5;
    }
    .wrapper {
      margin-top: 10px;
      display: flex;
      flex-flow: row;
      justify-content: space-between;
      .intro-wrapper {
        margin-left: 20px;
        width: 568px;
        .name {
          font-size: 32px;
          position: relative;
          padding-bottom: 2px;
          .id {
            position: absolute;
            left: 130px;
            bottom: 0px !important;
            font-size: 16px;
            padding-right: 10px;
            bottom: 5px;
          }
        }
        .insType, .param, .detail-intro, .thresholdValue, .present-thresholdValue, .createTime, .durableYears {
          margin: 8px 0;
        }
        .detail-intro {
          line-height: 1.2em;
        }
      }
    }
  }
}
