@mixin equipmentModal() {
  text-align: left;
  cursor: default;
  .modal {
    .modal-dialog {
      margin: 0 auto;
      top: 30%;
      transform: translateY(-50%);
      .title {
        font-size: 18px;
        width: 100%;
      }
      .icon-wrapper {
        cursor: pointer;
      }
      .intro {
        display: flex;
        flex-flow: row;
        justify-content: space-between;
        .img-wrapper {
          position: relative;
          input {
            cursor: pointer;
            position: absolute;
            width: 100%;
            height: 100%;
            left: 0;
            top: 0;
            outline: 0;
            opacity: 0;
          }
        }
        .intro-wrapper {
          width: 568px;
          margin-left: 30px;
          .name {
            font-size: 32px;
            position: relative;
            padding-bottom: 5px;
            border-bottom: 1px solid #ccc;
            .id {
              position: absolute;
              right: 0;
              bottom: 0;
              font-size: 16px;
              padding-right: 10px;
              bottom: 5px;
            }
          }
          .insType, .param, .maturity, .detail-intro, .thresholdValue, .present-thresholdValue {
            margin: 8px 0;
          }
          .detail-intro {
            display: flex;
            flex-flow: row;
            line-height: 1.2em;
            textarea {
              border-top: 1px solid #ccc;
            }
          }
        }
      }
      .history {
        margin-top: 20px;
        margin-left: 20px;
        .title {
          font-size: 24px;
        }
      }
    }
  }
}
