$nav_login-color: #4a96c5;
//$nav_index-color: #1890ff;
$nav_index-color: #1a5c93;
//$nav_index-color: #4f8dd1;
$sidebar-color: #004a86;
//$sidebar-color: #1890ff;
$setting-container-left-wrapper-width:43.74%;
$index-menubar-height:62px;
